@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --unibot-color: #b84fcf;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="number"] { 
  -moz-appearance:textfield; /* Firefox */
}

/* Unibot slider */
input[type="range"]::-moz-range-thumb {
  background-color: var(--unibot-color);
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid var(--unibot-color);
  outline-offset: 0.125rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--unibot-color);
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb{
  outline: 3px solid var(--unibot-color);
  outline-offset: 0.125rem;
}


.eth-input::after {
  content: 'ETH';
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  font-size: 1.25rem; /* equivalent to text-xl */
  pointer-events: none; /* Ensure it doesn't interfere with user interactions */
}

.eth-input {
  padding-right: 40px; /* Adjust this as needed to give space for "ETH" */
}





@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); 
}

